@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu:wght@300;400;500&display=swap');


html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
  font-family: 'Ubuntu', sans-serif;
  color: antiquewhite;
  background-color: #2D4356;
  background-image: url("../img/background.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center; 
}

html, body {
  margin: 0;
  padding: 0;
}

#react-root {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.base-panel {
  width: 40%;
  height: 80%;
  min-width: 760px;
  min-height: 700px;
  margin: auto;
  text-align: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 32px;
}

nav {
  display: inline-flex;
  width: 100%;
  height: 40px;
}
.nav-bar {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.nav-bar-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar.movies {
  border-radius: 32px 0 0 0;
}
.nav-bar.characters {
  border-radius: 0 32px 0 0;
}
.nav-bar.movies.passive {
  box-shadow: inset -3px -3px 6px rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.nav-bar.characters.passive {
  box-shadow: inset 3px -3px 6px rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.nav-bar.passive {
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.nav-bar.passive:hover {
  background-color: rgba(50, 50, 50, 0.1);
}
div.main-content {
  width: 100%;
  height: 100%;
  min-height: 700px;
  max-height: 700px;
}
.movies-header {
  width: 70%;
  height: 20px;
  margin: 0 auto 5px auto;
  display: inline-flex;
  border-radius: 10px;
  font-size: 14px;
}
.movies-header-element {
  width: 33.3%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex; /* Přidáno */
  align-items: center; /* Přidáno */
  justify-content: center;
  background-color: transparent;
  color: antiquewhite;
  cursor: pointer;
}
.movies-header-element:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.movies-header-element#first {
  border-radius: 10px 0 0 10px;
}
.movies-header-element#last {
  border-radius: 0 10px 10px 0;
  cursor: url('../public/first-order.png'), auto;
}
.movies-header-element#last:hover {
  background-color: rgba(255, 50, 50, 0.1);
}
div.movies-container {
  display: table;
  width: 100%;
  height: 80%;
  text-align: center;
}
div.movie-card {
  display: table-cell;
  float: left;
  width: 24%;
  height: 47%;
  text-align: center;
  margin: 2.2% 4.6% 1% 4.6%;
  border-radius: 10px;
  font-size: 18px;
  color: gold;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.5);
}

div.movie-card .background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

div.movie-card:hover .background {
  transform: scale(1.05);
}

div.movie-info {
  color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: auto;
  font-size: 14px;
}

div.movie-info:hover {
  background-color: rgba(0, 0, 0, 0.40);
  box-shadow: inset 0 60px 30px -6px rgba(0, 0, 0, 0.8);
  color: antiquewhite;
}
div.cast {
  color: transparent;
  font-size: 14px;
}
div.cast.toggle-on {
  color: antiquewhite;
}
.movie-title{
  padding: 10% 5% 0 5%;
}
.cast.toggle-on > .character-link:hover {
  color: gold;
}

.characters-header {
  display: inline-flex;
  width: 90%;
  height: 20px;
  margin: 5px auto 5px auto;
  vertical-align: middle;
}
.char-header-element {
  width: 25%;
  align-self: center;
}
.horizontal-line{
  width: 90%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.18);
  margin: 10px auto 10px auto;
}
.characters-container {
  max-height: 550px;
  overflow: auto;
}
div.characters-container::-webkit-scrollbar{
  display: none;
}
.character {
  display: inline-flex;
  width: 90%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 5px auto 5px auto;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  vertical-align: middle;
  font-size: 14px;
}
.character:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.character-element {
  width: 25%;
  align-self: center;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.stars {
  position: relative;
  width: 400px;
  height: 400px;
  animation: rotateStars 15s linear infinite;
  background-image: url('../public/stars.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
}

.ship {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  animation: rotateShip 7s linear infinite;
  background-image: url('../public/ship.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
}

@keyframes rotateStars {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateShip {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}







.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
